/* By commenting this out, editors with CSS syntax coloring does not get confused.
<tal:block define="dummy python:request.response.setHeader('content-type', 'text/css;; charset= iso-8859-15')" /> */

/* Generic stuff */

table.calendarMain {
  border-collapse: collapse;
  border-color: gray;
  padding: 0;
}

td.calendarBody {
  vertical-align: top;
  padding: 0;
}

td.calendarMain {
  padding: 0;
  /*vertical-align: top;*/
}

.inCalendar a:link {
  color: #002244;
}

.inCalendar a:hover {
  color: #004488;
}

.inCalendar a:visited {
  color: #002244;
}


.calendarMain thead tr {
  background-color: rgb(231,231,231);
}

.calendarMain tr.even {
  background-color: transparent;
}

.calendarMain tr.odd {
  background-color: rgb(231,231,231);
}

.calendarMain th.checkbox {
  width: 5%;
}

/* Navigation tabs */

td.calendarHeader {
  padding: 0px 5px 0px 0px;
}

div.dayTab {
  float:left;
  padding: 2px 0px 0px 0px;
  height: 0px; /* Needed to get rid of small white line in Firefox. */
}

div.navigationTabs {
  float:right;
  padding: 2px 0px 0px 0px;
}

ul.navigationTabs { /* needed? */
  padding: 1px;
}

div.navigationTabs span.unselected li {
  display: inline; 
  padding: 2px 0px 0px 5px;
  background: url(++resource++tab_unselected_left.png) top left no-repeat;
}
  
div.navigationTabs span.unselected a {
  padding: 2px 5px 0px 0px; 
  background: url(++resource++tab_unselected_right.png) top right no-repeat;
  margin: -2px 0px 0px 0px;
}

div.navigationTabs span.selected li {
  display: inline; 
  padding: 2px 0px 0px 5px;
  background: url(++resource++tab_selected_left.png) top left no-repeat;
}
  
div.navigationTabs span.selected a {
  padding: 2px 5px 0px 0px; 
  background: url(++resource++tab_selected_right.png) top right no-repeat;
  margin: -2px 0px 0px 0px;
}

#dateTabsStart {
  padding: 2px 0px 0px 1px;
  background: url(++resource++tab_selected_left.png) top left no-repeat;
}

#dateTabsMid {
  padding: 2px 0px 0px 0px;
  background: url(++resource++tab_selected_mid.png) top;
  font-weight: bold;
}

#dateTabsEnd {
  display: inline; 
  padding: 2px 0px 0px 1px;
  background: url(++resource++tab_selected_right.png) top right no-repeat;
}

/* Year views */

table.yearView {
  padding: 0;
}

td.yearViewHeader {
  background-color: #9999ff;
}

table.calendarThumbnail td {
  padding: 1px;
}

.calendarThumbnail td.thisMonthHasEvent {
  font-weight: bold;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #aaaaff;
  text-align: center;
}

.calendarThumbnail td.thisMonthNoEvent {
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #eeeeff;
  text-align: center;
}

.calendarThumbnail td.otherMonthHasEvent {
  overflow: hidden;
  border-width: 0px;
  text-align: center;
}

.calendarThumbnail td.otherMonthNoEvent {
  overflow: hidden;
  border-width: 0px;
  text-align: center;
}


td.weekThumbnailDay {
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #eeeeff;
  width: 13pt;
  text-align: center;
}

td.weekThumbnailHeader {
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #cccccc;
  width: 13pt;
  text-align: center;
}

td.weekThumbnailWeekNo {
  width: 25pt;
  font:bold 125% Verdana, Arial, Helvetica, sans-serif !important;
  color:#666666;
  text-align: right;
}


/* Month view */

.dayInThisMonth {
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #eeeeff;
}

.dayNotInThisMonth {
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #cccccc;
}

div.monthDayHeader {
  background: #9999ff;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #6666aa;
}

td.monthDay {
  padding: 2px;
  height: 80px;
  width: 90px;
}

div.monthEvent {
  overflow: hidden;
  margin: 1px;
  border-width: 0px;
  border-style: solid;
  border-color: #666666;
  background: #aaaaff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 15px;
}


/* Week and Day views */

td.hourLabels {
  vertical-align: top;
  width: 50px;
  padding: 0;
}

td.dayLabels {
  vertical-align: top;
  height: 20px;
  background: #9999ff;
  padding-left:6px;
}

td.dayFooter {
  /*vertical-align: top;*/
  height: 40px;
}

td.weekHeader {
  /*vertical-align: top;*/
  padding-right: 7px;
}

div.dayLabel {
  position: absolute;
}

div.hourLabel {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: gray;
  width: 100%;
  position: absolute;
}

div.privateEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #ffaaaa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.publicEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #aaaaff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.meetingEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #aaffaa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.unauthorizedEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #aaaaaa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.confidentialEvent {
  position: absolute;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #6666aa;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a.addEventShortcut {
  font-size: 75%;
}

div.inOfficeHours {
  background-color: rgb(238,238,255);
}

div.outOfficeHours {
  background-color: rgb(204,204,204);
}

div.event {
  clear: both;
  background-color: rgb(231,231,231);
  padding: 1px 8px 8px 8px;
}

div.eventTitle {
}

div.contextlinks {
  font-size: 75%;
}

div.eventDescription {
  clear: both;
  background-color: rgb(255,255,255);
  margin-top: 10px;
  padding: 8px 8px 8px 8px;
}

div.eventDescription table {
  width: 100%;
  border: 0px;
}

div.eventDescription table td {
  text-align: left;
  /*vertical-align: top;*/
}

div.eventDescription table th {
  text-align: left;
  /*vertical-align: top;*/
}

td.rowlabel {
  text-align: right;
  /*vertical-align: top;*/
}

/* XXX I think these next two styles are not used. However, we should probably use them,
   or start displaying this info with smallish icons or something. */
   
.needs-action {
  color: Red;
}

.tentative {
  color: #ffa500;
}
